{% extends 'layout.html' %}

{% block content %}
<div class="about">

    <div class="about-header">
        <div class="nome">
            <h2 class="title">Matheus Corrêa</h2>
        </div>

        <div class="socials">
            <a href="https://github.com/AlexFromMicrosoft" target="_blank"><i class="fab fa-github"></i> GitHub</a>
            <a href="https://www.linkedin.com/in/carreirasMatheus/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn </a>
            <span><i class="fas fa-map-marker-alt"></i> São Paulo</span>
        </div>
    </div>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere corrupti ea officiis magni vel. Doloribus voluptatem nesciunt numquam, non alias deserunt. Quo esse, quas expedita maiores facere dolore explicabo fuga.</p>
</div>


<div class="work">    

    <div class="work-header">
        <h3 class="title">Work + Education</h3>
    </div>
    <hr class="divider">

    <div class="job">
        <h4 class="title"><i class="fas fa-tools"></i>Company 1</h4>
        <span>Jan 2022 - Dec 2022</span>   
    </div> 

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, impedit obcaecati dolores repudiandae aliquid expedita voluptate cupiditate asperiores minus sit.
    </p>
</div>

<div class="school">
    <div class="item">
        <h4 class="title"><i class="fa fa-graduation-cap" aria-hidden="true"></i>School - School Name</h4>
        <div class="course">
            <span>Type - Course</span>
            <span>Jan/2022 - Dec/2022</span>
        </div>
    </div> 

    <div class="item">
        <h4 class="title"><i class="fa fa-graduation-cap" aria-hidden="true"></i>School - School Name</h4>
        <div class="course">
            <span>Type - Course</span>
            <span>Jan/2022 - Dec/2022</span>
        </div>
    </div>
</div> 

<script>

    
</script>

{% endblock %}